openapi: 3.0.3
info:
  title: Qilin Platform API
  description: API for Qilin platform monitoring and management
  version: 1.0.0

servers:
  - url: https://qilin.qihoo.net/qilin-xp-api/api/common-scheduler/mcp/api
    description: Production server

paths:
  /platform/statMasterStatus:
    get:
      tags:
        - xsMcp
      summary: qilin数据开发平台master状态统计，正常和异常的数目
      operationId: getStatMasterStatus
      servers:
        - url: https://qilin.qihoo.net/qilin-xp-api/api/common-scheduler/mcp/api
      description: qilin数据开发平台master状态统计，正常和异常的数目
      responses:
        '200':
          description: 成功返回Master状态统计
          content:
            application/json:
              schema:
                type: object

  /platform/statWorkerStatus:
    get:
      tags:
        - xsMcp
      summary: qilin数据开发平台worker状态统计，正常和异常的数目
      operationId: getStatWorkerStatus
      servers:
        - url: https://qilin.qihoo.net/qilin-xp-api/api/common-scheduler/mcp/api
      description: qilin数据开发平台worker状态统计，正常和异常的数目
      responses:
        '200':
          description: 成功返回Worker状态统计
          content:
            application/json:
              schema:
                type: object

  /platform/statZookeeperStatus:
    get:
      tags:
        - xsMcp
      summary: qilin数据开发平台zookeeper状态统计，正常和异常的节点数目
      operationId: getStatZookeeperStatus
      servers:
        - url: https://qilin.qihoo.net/qilin-xp-api/api/common-scheduler/mcp/api
      description: qilin数据开发平台zookeeper状态统计，正常和异常的节点数目
      responses:
        '200':
          description: 成功返回Zookeeper状态统计
          content:
            application/json:
              schema:
                type: object

  /platform/statTopCpuWorker:
    get:
      tags:
        - xsMcp
      summary: qilin数据开发平台cpu使用率top10的worker
      operationId: getTopCpuWorker
      servers:
        - url: https://qilin.qihoo.net/qilin-xp-api/api/common-scheduler/mcp/api
      description: qilin数据开发平台cpu使用率top10的worker
      responses:
        '200':
          description: 成功返回CPU使用率Top10 Worker
          content:
            application/json:
              schema:
                type: object

  /platform/statTopMemWorker:
    get:
      tags:
        - xsMcp
      summary: qilin数据开发平台内存使用率top10的worker
      operationId: getTopMemWorker
      servers:
        - url: https://qilin.qihoo.net/qilin-xp-api/api/common-scheduler/mcp/api
      description: qilin数据开发平台内存使用率top10的worker
      responses:
        '200':
          description: 成功返回内存使用率Top10 Worker
          content:
            application/json:
              schema:
                type: object

  /platform/statTopLoadWorker:
    get:
      tags:
        - xsMcp
      summary: qilin数据开发平台负载top10的worker
      operationId: getTopLoadWorker
      servers:
        - url: https://qilin.qihoo.net/qilin-xp-api/api/common-scheduler/mcp/api
      description: qilin数据开发平台负载top10的worker
      responses:
        '200':
          description: 成功返回负载Top10 Worker
          content:
            application/json:
              schema:
                type: object

  /platform/statTopRunningTaskWorker:
    get:
      tags:
        - xsMcp
      summary: qilin数据开发平台正在运行任务数top10的worker
      operationId: getTopRunningTaskWorker
      servers:
        - url: https://qilin.qihoo.net/qilin-xp-api/api/common-scheduler/mcp/api
      description: qilin数据开发平台正在运行任务数top10的worker
      responses:
        '200':
          description: 成功返回正在运行任务数Top10 Worker
          content:
            application/json:
              schema:
                type: object
